.top {
    position: relative;
    z-index: 4;
    background: #fff;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 5px 5px rgba($color: #000000, $alpha:.1);
    position: sticky;
    top: 0;

    .nav-bar {
        height: 63px;
        width: 100%;
        // margin-top: 0;
        color: #616161;

        .container {
            width: 1226px;
            margin-right: auto;
            margin-left: auto;

            h2 {
                margin: 0;
                font-size: 18px;
                font-weight: 400;
                line-height: 60px;
                color: #424242;
                float: left;
            }

            .left {
                float: left;
                margin-left: 5px;
                font-size: 12px;
                margin-top: 21px;

                .separator {
                    margin: 0 .5em;
                    color: #424242;
                }

                a {
                    color: #616161;
                }
            }

            .right {
                float: right;
                margin: 17px 0 0 0;

                a {
                    color: #616161;
                }

                .separator {
                    color: #e0e0e0;
                }

                .btn-buy {
                    text-align: center;
                    display: inline-block;
                    width: 118px;
                    height: 28px;
                    font-size: 12px;
                    line-height: 28px;
                    background: #ff6700;
                    color: #fff;
                    border: 1px solid #ff6700;
                    transition: all .4s;
                    cursor: pointer;

                    &:hover {
                        color: #fff;
                        background-color: #f25807;
                        border-color: #f25807;
                    }
                }
            }
        }

    }
}

.login-notic {
    background: #f7f7f7;
    width: 100%;
    text-align: center;
    height: 48px;
    line-height: 48px;
    color: #333;

    .container {
        width: 1226px;
        margin-right: auto;
        margin-left: auto;

        .login {
            color: #ff6700;
            margin-left: 25px;

        }

        .close {
            margin-left: 10px;
            line-height: 5px;
            vertical-align: middle;
        }
    }
}

.product-box {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 12px;
    width: 1226px;
    margin-right: auto;
    margin-left: auto;

    .img-left {
        width: 606px;
        position: relative;

        .product-imglist {
            position: relative;

            .img-box {
                position: absolute;
                top: 0;

                img {
                    width: 560px;
                    height: 560px;
                }
            }
        }
    }

    .product-con {
        flex: 1;
        margin-left: 20px;

        h2 {
            margin: 0;
            padding: 0;
            font-size: 24px;
            font-weight: 400;
            color: #212121;
        }

        .sale-desc {
            color: #b0b0b0;
            margin: 0;
            padding: 0;
            padding-top: 8px;
            line-height: 1.5;
        }

        .price-info {
            display: block;
            font-size: 18px;
            line-height: 1;
            color: #ff6700;
            padding: 12px 0 10px;
        }

        .line {
            margin-top: 12px;
            border-bottom: 1px solid #e0e0e0;
        }

        .address-box {
            margin: 20px 0;

            .product-address {
                padding: 30px 50px;
                position: relative;
                background: #fafafa;
                border: 1px solid #e0e0e0;

                .location {
                    position: absolute;
                    left: 20px;
                    top: 26px;
                    font-size: 20px;
                    color: #999;

                }

                .edit {
                    color: #ff6700;
                    margin: 0;
                }

                .address-info {
                    display: inline-block;

                    span {
                        margin-right: 14px;
                    }
                }

                .info span {
                    color: #ff6700;
                }
            }
        }

        .buy-option {

            .buy-box-child,
            .batch-box {
                margin-bottom: 30px;
                position: relative;

                .title {
                    font-size: 18px;
                }

                .option {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    li {
                        margin-top: 10px;
                        line-height: 42px;
                        height: 42px;
                        position: relative;
                        border: 1px solid #e0e0e0;
                        list-style: none;
                        cursor: pointer;
                        transition: all .2s ease;
                        width: 290px;
                        font-size: 16px;
                        text-align: center;
                    }

                    li:nth-child(odd) {
                        margin-right: 12px;
                    }

                    li:hover {
                        z-index: 3;
                        border-color: #ff6700;
                    }
                }
            }

        }

        .selected-list {
            background: #f9f9fa;
            padding: 30px;
            margin-bottom: 30px;

            li {
                list-style: none;
                line-height: 30px;
                color: #616161;

                span {
                    float: right;
                }
            }

            .total-price {
                color: #ff6700;
                font-size: 24px;
                padding-top: 20px;
            }
        }

        .btn-box {
            margin: 10px 0 20px 0;

            .sale-btn {
                display: inline-block;
                margin-right: 10px;

                .btn-primary {
                    text-align: center;
                    display: inline-block;
                    width: 298px;
                    height: 52px;
                    line-height: 52px;
                    font-size: 16px;
                    background: #ff6700;
                    border-color: #ff6700;
                    color: #fff;
                }
            }

            .favorite-btn {
                display: inline-block;
                vertical-align: top;

                .btn-like {
                    background-color: #b0b0b0;
                    color: #fff;
                    display: block;
                    width: 140px;
                    height: 52px;
                    line-height: 52px;
                    border: 1px solid #b0b0b0;
                    text-align: center;
                    cursor: pointer;
                    transition: all .4s;
                    font-size: 16px;
                    position: relative;

                    .icon {
                        vertical-align: middle;
                        position: relative;
                        top: -2px;
                    }

                }
            }
        }

        .after-sale-info {
            span {

                // display: inline-block;
                a {
                    display: inline-block;
                    margin-right: 15px;
                    line-height: 30px;
                    margin-bottom: 10px;
                    cursor: default;
                    white-space: nowrap;
                    color: #b0b0b0;
                }

                svg {
                    vertical-align: middle;
                }
            }
        }

    }
}


.price-description {
    padding-bottom: 50px;
    background: #f5f5f5;

    .title {
        width: 1226px;
        margin-right: auto;
        margin-left: auto;

        h3 {
            font-size: 22px;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 0;
            padding: 1em 0;
        }
    }

    .img-box {
        width: 1226px;
        position: relative;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        img {
            position: absolute;
            left: 50%;
            top: 0;
            -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
            height: 100%;
        }
    }
}

.mi-redminote11pro{
    img{
        width: 1920px;
    }
    video{
        width: 1920px;
    }
}