body {
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
}

.left-banner {
    width: 375px;
    height: 928px;
    background: url(https://cdn.web-global.fds.api.mi-img.com/mcfe--mi-account/static/static/media/banner.4994397e.jpg);
    background-size: 100% 100%;
    float: left;
}

.wraper {
    overflow: hidden;

    .header {
        height: 80px;
        background-color: aqua;
    }

    .container {
        height: 807px;
        background-color: pink;
        // padding-top: 20px;
    }

    // }

}

.main{
    width: 450px;
    height: 585px;
    position: absolute;
    left: 920px;
    top: 160px;
    background-color: blueviolet;
    box-shadow: 0 20px 50px 0 hsla(0, 0%, 64%, 10%);
    border-radius: 4px;
    padding: 40px 45px;
    box-sizing: border-box;



    // display: inline-block;
    // box-sizing: border-box;
    // overflow: hidden;
    // position: relative;
    min-width: 450px;

}

.copyright {
    overflow: hidden;
    height: 40px;
    text-align: center;

    a {
        // line-height: 20px;
        font-size: 12px;
        text-align: center;
        color: #999;

    }
    
}